<<<<<<< HEAD
#tapestrip {
    background-color: rgb(255, 222, 7);
    height: 20px;
    width: 1500px;
    text-align: center;
    padding-top: 10px;
    
=======
*{
    margin: 0px;
    padding: 0px;
}
.tapestrip
{
    height: 25px;
    width: 90%;
    background-color: rgb(236, 202, 5);
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(16, 16, 70);
    text-transform: capitalize;
    display:flex;
    position:fixed;
}

a {
    margin: 6px 40px;
    text-decoration : none;
}

.homepage {
    background-image: url(locations.png);
    /* margin-top: 170px; */
    height: 600px;
    width: 1200px;
    background-repeat: no-repeat;
    display: flex;
}
.title {
    height: 40px;
    width: 400px;
    color: rgb(130, 25, 201);
    text-align: justify;
    margin: 200px 150px;
>>>>>>> 3247411ade90c3c2510070dd06810daf80690f64
}